<div class="container my-5">
  <h2>Serviço: <%= @service.title %></h2>

  <ul class="list-group">
    <li class="list-group-item"><strong>Disponibilidade:</strong>
    <% if @service.available %>
      <i class="fas fa-check" style="color:green"></i>
    <% else %>
      <i class="fas fa-times" style="color:red"></i>
    <% end %>
    </li>
    <li class="list-group-item"><strong>Dias disponíveis:</strong> <%= @service.available_at %></li>
    <li class="list-group-item"><strong>Descreva como você realiza esse trabalho:</strong> <%= @service.description %></li>
    <li class="list-group-item"><strong>Valor da hora (R$):</strong> <%= @service.price_hour %></li>
    <li class="list-group-item"><strong>Duração mínima do serviço (horas):</strong> <%= @service.min_duration %></li>
    <li class="list-group-item"><strong>Duração máxima do serviço (horas):</strong> <%= @service.max_duration %></li>
  </ul>

  <br>

  <div class="row">
    <%= link_to 'Editar serviço', edit_service_path(@service), class: "btn btn-ghost mx-2" %>
    <%= link_to 'Excluir serviço',
                  service_path(@service),
                  method: :delete,
                  data: { confirm: "Tem certeza que deseja excluir esse serviço?" },
                  class: "btn btn-ghost mx-2" %>

    <%= link_to 'Voltar para lista de serviços', services_path, class: "btn btn-ghost mx-2" %>
  </div>
</div>
