<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo_sem_texto.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Messages", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "AVATAR_BERNARDO.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container my-5">
Lorem ipsum dolor sit amet. Rem quisquam explicabo et facere itaque quo vitae amet. At doloribus facilis aut dolor dolorum sit cumque autem aut deleniti reiciendis et veniam repellat. Cum internos nobis aut quibusdam incidunt sit similique voluptatibus?

Est quam sequi qui libero repudiandae et nihil voluptatum non voluptatem aliquid est omnis quam sed omnis provident. Non repellendus autem vel molestias accusantium est ratione adipisci a accusantium dolorem ad veniam recusandae. Sed consectetur voluptatum et voluptas consequuntur ex illo excepturi vel officiis culpa et impedit praesentium aut omnis eligendi.

Et molestiae dolorum aut doloribus architecto sed consequuntur velit. Ut voluptates consequatur et labore aut architecto ipsa non dolorem dolores vel galisum unde hic dolorem laboriosam.
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-utensils"></i> by FartSquare Team
  </div>
</div>
