<div class="container my-5">
  <div class="row my-5">
    <%= image_tag "logo_com_texto.png", class: 'logo_home' %>
  </div>
    <h4>
      Bernardo Finder é uma plataforma <strong>revolucionária</strong> que liga churrasqueiros com diversos talentos
      (apelidados de "Bernardos" => <%= image_tag "AVATAR_BERNARDO.png", class: 'avatar-square' %>) a usuários que gostariam
      de comer um churrasco de qualidade sem maiores preocupações.
      <br>
      <br>
      Quer encontrar um <%= image_tag "AVATAR_BERNARDO.png", class: 'avatar-square' %>? Basta utilizar o formulário de busca!
      <br>
      <br>
      Quer ser um <%= image_tag "AVATAR_BERNARDO.png", class: 'avatar-square' %>? Cadastre-se e apresente os seus serviços para o mundo!
  </h4>
  <div class="d-flex my-5">
    <%= render partial: "search_bar" %>
    <%= render partial: "search_bar" %>
    <%= render partial: "search_bar" %>
    <%= render partial: "search_bar" %>
    <button name="button" type="submit" class="btn btn-ghost">
      <i class="fas fa-search"></i> Buscar
    </button>
  </div>
</div>
