<div class="container my-5">
  <h2><strong>Serviço: <%= @service.title %></strong></h2>

  <ul class="list-group">
    <li class="list-group-item"><strong>Disponibilidade:</strong>
    <% if @service.available %>
      <i class="fas fa-check" style="color:green"></i>
    <% else %>
      <i class="fas fa-times" style="color:red"></i>
    <% end %>
    </li>
    <li class="list-group-item"><strong>Dias disponíveis:</strong> <%= @service.available_at %></li>
    <li class="list-group-item"><strong>Descreva como você realiza esse trabalho:</strong> <%= @service.description %></li>
    <li class="list-group-item"><strong>Valor da hora (R$):</strong> <%= @service.price_hour %></li>
    <li class="list-group-item"><strong>Duração mínima do serviço (horas):</strong> <%= @service.min_duration %></li>
    <li class="list-group-item"><strong>Duração máxima do serviço (horas):</strong> <%= @service.max_duration %></li>
  </ul>

<% if @service.images.count > 0 %>
  <div id=""selExampleIndicators" class=""sel slide width-100%" data-ride=""sel">
    <ol class=""sel-indicators">
      <% @service.images.each_with_index do |photo, n| %>
        <li data-target='#My"sel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
      <% end %>
    </ol>
    <div class=""sel-inner">
      <div class=""sel-item active">
        <%= cl_image_tag @service.images.first.key, height: 300, width: 400 %>
      </div>
      <% @service.images.drop(1).each do |image| %>
        <div class=""sel-item">
          <%= cl_image_tag image.key, height: 300, width: 400 %>
        </div>
      <% end %>
    <a class=""sel-control-prev" href="#"selExampleIndicators" role="button" data-slide="prev">
      <span class=""sel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class=""sel-control-next" href="#"selExampleIndicators" role="button" data-slide="next">
      <span class=""sel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>

  <br>

  <% if @service.user = current_user %>
    <div class="row">
      <%= link_to 'Editar', edit_service_path(@service), class: "btn btn-ghost mx-2" %>
      <%= link_to 'Excluir',
                    service_path(@service),
                    method: :delete,
                    data: { confirm: "Tem certeza que deseja excluir esse serviço?" },
                    class: "btn btn-ghost mx-2" %>
      <%= link_to 'Voltar', services_path, class: "btn btn-ghost mx-2" %>
      <%= link_to 'Voltar', services_path, class: "btn btn-ghost mx-2" %>
    </div>
  <% end %>
</div>
